* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.img-container > img {
width: 100%;
margin: 30px;
}

.input-area {
font-size: 18px;
margin-bottom: 80px;
}

#inputFocused, button {
height: 45px;
border-radius: 15px;
 outline: none;
}

#inputFocused {
width: 350px;
margin-right: 15px;
padding: 15px;
}

button {
width: 130px;
}

ul {
background-color: #f5f7f7;
list-style: none;
border-radius: 15px;
padding-top: 30px;
padding-bottom: 30px;
}

li {
margin: 0 20px;
padding: 12px 5px;
border-bottom: 1px solid lightgray;
}

